{% extends "authentication/layout.html" %}
{% block title %}
Signin
{% endblock %}
{% block body %} 
<h2>Sign Up</h2>
<form action="{% url 'signup' %}", method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="username">
      </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="firstname" aria-describedby="firstname" placeholder="firstname">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="lastname">
      </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" placeholder="password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="confirmpassword" placeholder="confirm password">
      </div>
    <div>
        <a href="{% url 'signin' %}">Already a user, singin here!</a>
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{% endblock %}